<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Form Tambah</title>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-8">
                <h2 class="text-center">Form Update</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form action="/update" method="POST">
                    <% data.forEach((datas, index)=> { %>
                        <!-- selected nim -->
                        <input type="hidden" class="form-control" name="nim" id="nim" value="<%= datas.nim %>">
                        <div class="mb-3">
                            <label for="nim2" class="form-label">NIM</label>
                            <input type="text" class="form-control" name="nim2" id="nim2" value="<%= datas.nim %>">
                        </div>
                        <div class="mb-3">
                            <label for="nama2" class="form-label">Nama</label>
                            <input type="text" class="form-control" value="<%= datas.nama  %>" id="nama2" name="nama2">
                        </div>
                        <div class="mb-3">
                            <label for="kelas2" class="form-label">Kelas</label>
                            <input type="text" class="form-control" value="<%= datas.kelas  %>" id="kelas2"
                                name="kelas2">
                        </div>
                        <center>
                            <a href="/" class="btn btn-danger mb-5">Back</a>
                            <button type="submit" class="btn btn-primary mb-5">Update</button>
                        </center>
                        <% }) %>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>